@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

#main, #congrats-message {
    width: 70%;
    height: 400px;
    margin: 5vh 15%;
}

h1 {
    position: relative;
    text-align: center;
    font-family: "Tangerine", "Times New Roman", sans-serif;
    font-size: 50px;
}

.blue:hover {
    color: #1C6DD0;
}

#intro-image {
    height: 400px;
    position: relative;
    top: 3vh;
    left: 28vw;
}

#main-button, #game-afoot-button, #next-button-one, #next-button-two, #submit, #next-button-four-alternate,
#next-button-four, #next-button-five, #next-button-six, #next-button-seven, #next-button-eight, #next-button-nine,
#next-button-ten, #next-button-eleven, #next-button-twelve {
    width: 20%;
    position: absolute;
    top: 90%;
    left: 40%;
    text-align: center;
    font-family: "Tangerine", "Times New Roman", sans-serif;
    color: white;
    background-color: #1C6DD0;
    font-size: 50px;
    border: #1C6DD0 2px solid;
    border-radius: 12px;
}

#game-afoot-button {
    width: 20vw;
    top: 170%;
    left: 10vw;
}

#next-button-one {
    top: 155%;
    left: 40%;
}

#next-button-four {
    top: 150%;
}

#next-button-two, #next-button-four-alternate {
    top: 195%;
}

#next-button-five {
    top: 240%;
}

#next-button-six {
    top: 140%;
}

#next-button-seven {
    top: 175%
}

#next-button-eight {
    top: 250%;
}

#next-button-eleven {
    top: 230%;
}

#next-button-twelve {
    top: 260%;
}

#next-button-nine {
    top: 120%;
}

#next-button-ten {
    width: 40%;
    position: relative;
    top: -115%;
    left: -6%;
}

#pub-instructions {
    position: relative;
    right: 35%;
}

#submit {
    width: 20vw;
    margin-top: 10%;
    position: relative;
    top: 100%;
    left: 75%;
}

#main-button:hover, #game-afoot-button:hover, #next-button-one:hover, #next-button-two:hover,
#submit:hover, #next-button-four-alternate:hover, #next-button-four:hover, #next-button-five:hover, #next-button-six:hover,
#next-button-seven:hover, #next-button-eight:hover, #next-button-nine:hover, #next-button-ten:hover,
#next-button-eleven:hover, #next-button-twelve:hover {
    color: #1C6DD0;
    background-color: white;
    border: #1C6DD0 2px solid;
    cursor: pointer;
}

.type-one-div {
    width: 40%;
    height: 400px;
    margin: 20% 15%;
    position: relative;
    top: 10%;
}

.type-two-div {
    width: 40%;
    height: 400px;
    margin: 20% 15%;
    position: relative;
    margin-left: 45%;
}

#part-two {
    margin-top: 20%;
}

#part-four {
    margin-top: 30%;
}

#part-eight {
    margin-top: 30%;
}

#part-nine {
    margin-top: 62%;
}

#part-six, #part-twelve {
    margin-top: 50%;
}

#part-five, #alpha-inn-inside {
    margin-top: 25%;
}

h2, p {
    position: relative;
    top: 15%;
    margin-top: 10%;
    font-family: Raleway;
    font-size: 150%;
    text-align: justify;
    line-height: 150%;
    font-style: italic;
}

h2 {
    text-align: center;
    font-size: 30px;
}

#instruction-paragraph {
    font-style: normal;
}

.image-one {
    height: 200px;
    position: relative;
    bottom: 70%;
    left: 125%;
}

.image-two {
    height: 450px;
    position: relative;
    bottom: 90%;
    right: 100%;
}

#hat {
    bottom: 110%;
}

#sherlock-sitting {
    position: relative;
    bottom: 70%;
}

#goose {
    height: 80%;
    position: relative;
    bottom: 90%;
    right: 70%;
}

#diamond {
    position: relative;
    bottom: 120%;
}

#newspaper {
    height: 50%;
    position: relative;
    bottom: 70%;
    right: 75%;
}

#ad {
    font-family: "Playfair Display";
    font-size: 80%;
}

#man {
    height: 100%;
    position: relative;
    bottom: 100%;
    left: 125%;
}

#man-two {
    height: 90%;
    position: relative;
    right: 80%;
    bottom: 140%;
}

#door {
    position: relative;
    height: 90%;
    bottom: 75%;
}

#bartender {
    width: 120%;
    position: relative;
    top: 10%;
    right: 50%;
}

#market-stall {
    height: 100%;
    position: relative;
    bottom: 150%;
}

#fireplace {
    height: 80%;
    left: -85%;
    bottom: 150%;
}

#final-image {
    height: 100px;
    position: relative;
    top: 120%;
    left: 42%;
}

#congrats-text {
    margin-top: 60%;
    position: relative;
    top: 100%;
}

#part-one-par {
    position: relative;
    top: 30%;
}

#observation-deduction-game {
    height: 100%;
    position: relative;
    top: 15%;
}

#observations {
    width: 50%;
    position: relative;
    top: 20vh;
    left: 25%;
}

.observation {
    width: 50vw;
    height: 20vh;
    border: black 1px solid;
    position: relative;
    margin-top: 5%;
    border-radius: 8px;
    background-color: #FFC900;
}

.observation p {
    text-align: center;
    vertical-align: middle;
    margin: 2% auto;
}

select {
    width: 40vw;
    position: relative;
    top: 2vh;
    left: 5vw;
    font-family: "Raleway", "Times New Roman", sans-serif;
    font-size: 15px;
    border: black 1px solid;
    cursor: pointer;
}

#choice-one {
    width: 45%;
    height: 40%;
    position: relative;
    bottom: 80%;
    right: 40%;
    border: black 2px solid;
    border-radius: 8px;
    background-color: #B8DFD8;
}

#choice-one:hover, #choice-one-text:hover, 
#choice-two:hover, #choice-two-text:hover {
    cursor: pointer;
}

#choice-two {
    width: 45%;
    height: 40%;
    position: relative;
    bottom: 121%;
    left: 14%;
    border: black 2px solid;
    border-radius: 8px;
    background-color: #ADC2A9;
}

#bartender-reply {
    width: 40%;
    height: 35%;
    position: relative;
    bottom: 90%;
    right: 40%;
    border: black 2px solid;
    border-radius: 8px;
    background-color: #A3A847;
}

#choice-one-text, #choice-two-text, #bartender-reply-text {
    padding: 1px;
    padding-top: 0;
    font-family: "Raleway", "Times New Roman", sans-serif;
    font-size: 90%;
    font-weight: 900;
    text-align: center;
    }

/* For screens of 768px-1024px range */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    #game-afoot-button {
     width: 100%;
     top: 200%;
     left: 25%;
    }
    
    #part-one {
        position: relative;
        top: 100%;
        margin-top: 30%;
    }

    #sherlock-sitting {
        height: 100%;
        position: relative;
        right: 105%;
    }

    #next-button-one {
        top: 165%;
        left: 40%;
    }

    #next-button-two, #next-button-seven {
        top: 240%;
        left: 40%;
    }

    #observation-deduction-game {
        height: 100%;
        position: relative;
        margin-top: 45%;
    }

    #next-button-four-alternate {
        top: 250%;
        left: 50%;
    }

    #part-four {
        margin-top: 60%;
    }

    #next-button-four {
        top: 200%;
        left: 50%;
    }

    #part-five {
        margin-top: 40%;
    }

    #next-button-five {
        top: 310%;
        left: 50%;
    }

    #part-six {
        margin-top: 80%;
    }

    #next-button-six {
        top: 170%;
        left: 50%;
    }

    #part-seven {
        margin-top: 30%;
    }

    #next-button-seven {
        top: 220%;
    }

    #part-eight {
        margin-top: 45%;
    }

    #man-two {
        height: 70%;
        position: relative;
    }

    #next-button-eight {
        top: 320%;
        left: 40%;
    }

    #part-nine {
        margin-top: 80%;
    }

    #choice-two {
        width: 50%;
        height: 40%;
        position: relative;
        bottom: 80%;
        left: 12%;
    }

    #choice-one {
        width: 50%;
        height: 40%;
        position: relative;
        bottom: 39%;
    }

    #alpha-inn-inside {
        margin-top: auto;
    }

    #next-button-eleven {
        top: 270%;
        left: 40%;
    }

    #part-twelve {
        margin-top: 65%;
    }

    #fireplace {
        height: 70%;
        left: -85%;
        bottom: 180%;
    }

    #final-image {
        top: 170%;
        left: 38%;
        padding-bottom: 50px;
    }
    
    #congrats-text {
        margin-top: 60%;
        position: relative;
        top: 150%;
    }
}

/* For screens of 320px-568px range */
@media screen and (min-width: 320px) and (max-width: 568px) {
    #main {
    width: 70%;
    height: 400px;
    margin: 5vh 15%;
    }
    
    h1 {
        position: relative;
        text-align: center;
        font-family: "Tangerine", "Times New Roman", sans-serif;
        font-size: 35px;
    }
    
    #blue:hover {
        color: #1C6DD0;
    }
    
    #intro-image {
        height: 200px;
        position: relative;
        top: 5%;
        left: 34%;
    }
    
    #main-button, #game-afoot-button, #next-button-one, #next-button-two, #submit, #next-button-four-alternate,
    #next-button-four, #next-button-five, #next-button-six, #next-button-seven, #next-button-eight, #next-button-nine,
    #next-button-ten, #next-button-eleven, #next-button-twelve {
        width: 90%;
        position: absolute;
        top: 85%;
        left: 5%;
        text-align: center;
        font-family: "Tangerine", "Times New Roman", sans-serif;
        color: white;
        background-color: #1C6DD0;
        font-size: 50px;
        border: #1C6DD0 2px solid;
        border-radius: 8px;
        margin-bottom: 5px;
    }
    
    #game-afoot-button {
        width: 120%;
        top: 260%;
        left: 25%;
    }
    
    #next-button-one {
        top: 260%;
        left: 40%;
    }
    
    #next-button-four {
        top: 305%;
        left: 50%;
    }
    
    #next-button-two, #next-button-seven {
        top: 310%;
        left: 40%;
    }
    
    #next-button-five {
        top: 410%;
        left: 50%;
    }
    
    #next-button-six {
        top: 230%;
        left: 50%;
    }
    
    #next-button-four-alternate {
        top: 340%;
        left: 50%;
    }
    
    #next-button-seven {
        top: 360%;
    }
    
    #next-button-eight {
        top: 450%;
        left: 40%;
    }
    
    #next-button-eleven {
        top: 400%;
        left: 50%;
    }
    
    #next-button-twelve {
        top: 435%;
        left: 50%;
    }
    
    #next-button-nine {
        top: 225%;
        left: 50%;
    }
    
    #next-button-ten {
        width: 140%;
        position: relative;
        top: 85%;
        left: 20%;
    }
    
    #pub-instructions {
        position: relative;
        top: 70%;
        right: 35%;
    }
    
    #submit {
        width: 50vw;
        margin-top: 10%;
        position: relative;
        top: 100%;
        left: 1%;
    }
    
    #main-button:hover, #game-afoot-button:hover, #next-button-one:hover, #next-button-two:hover,
    #submit:hover, #next-button-four-alternate:hover, #next-button-four:hover, #next-button-five:hover, #next-button-six:hover,
    #next-button-seven:hover, #next-button-eight:hover, #next-button-nine:hover, #next-button-ten:hover,
    #next-button-eleven:hover, #next-button-twelve:hover {
        color: #1C6DD0;
        background-color: white;
        border: #1C6DD0 2px solid;
        cursor: pointer;
    }
    
    .type-one-div {
        width: 40%;
        height: 400px;
        margin: 20% 15%;
        position: relative;
        top: 10%;
    }
    
    .type-two-div {
        width: 40%;
        height: 400px;
        margin: 70% 15%;
        position: relative;
        left: 1%;
    }
    
    #part-one {
        position: relative;
        top: 100%;
        margin-top: 160%;
    }
    
    #part-two {
        position: relative;
        top: 100%;
        margin-top: 200%;
    }
    
    #part-four {
        margin-top: 30%;
    }
    
    #part-seven {
        margin-top: 160%;
    }
    
    #part-eight {
        margin-top: 320%;
    }
    
    #part-nine {
        margin-top: 430%;
    }
    
    #part-six {
        margin-top: 380%;
    }
    
    #part-eleven {
        margin-top: 200%;
    }
    
    #part-twelve {
        margin-top: 370%;
    }
    
    #part-five {
        margin-top: 260%;
    }
    
    #alpha-inn-inside {
        margin-top: 90%
    }
    
    h2, p {
        width: 170%;
        position: relative;
        top: 15%;
        left: 3%;
        margin-top: 10%;
        font-family: Raleway;
        font-size: 120%;
        text-align: justify;
        line-height: 150%;
        font-style: italic;
    }
    
    h2 {
        text-align: center;
        font-size: 30px;
    }
    
    #instruction-paragraph {
        font-style: normal;
    }
    
    .image-one {
        height: 150px;
        position: relative;
        top: 15%;
        left: 25%;
    }
    
    .image-two {
        height: 450px;
        position: relative;
        bottom: 90%;
        right: 100%;
    }
    
    #hat {
        top: 25%;
        left: 20%;
    }
    
    #light-bulb {
        position: relative;
        top: 25%;
        left: 10%;
    }
    
    #sherlock-sitting {
        height: 80%;
        position: relative;
        top: 35%;
        right: 70%;
    }
    
    #goose {
        height: 70%;
        position: relative;
        top: 30%;
        left: 5%;
    }
    
    #diamond {
        top: 22%;
        left: 25%;
    }
    
    #newspaper {
        height: 40%;
        position: relative;
        top: 20%;
        left: 5%;
    }
    
    #ad {
        font-family: "Playfair Display";
        font-size: 80%;
    }
    
    #man {
        height: 100%;
        position: relative;
        top: 25%;
        left: 50%;
    }
    
    #man-two {
        height: 70%;
        position: relative;
        left: -10%;
        top: 30%;
    }
    
    #door {
        position: relative;
        height: 70%;
        top: 30%;
        left: 15%;
    }
    
    #bartender {
        width: 210%;
        position: relative;
        top: 80%;
        left: -18%;
    }
    
    #market-stall {
        height: 70%;
        position: relative;
        top: 20%;
        left: -20%;
    }
    
    #fireplace {
        height: 40%;
        left: 18%;
        top: 25%;
    }
    
    #final-image {
        height: 100px;
        position: relative;
        top: 310%;
        left: 10%;
        padding-bottom: 50px;
    }
    
    #congrats-text {
        margin-top: 60%;
        position: relative;
        top: 300%;
    }
    
    #part-one-par {
        position: relative;
        top: 30%;
    }
    
    #observation-deduction-game {
        height: 100%;
        position: relative;
        margin-top: 250%;
    }
    
    #observations {
        width: 150%;
        position: relative;
        top: 20vh;
        left: 25%;
    }
    
    .observation {
        width: 80vw;
        height: 30vh;
        border: black 1px solid;
        position: relative;
        right: 24%;
        border-radius: 8px;
        background-color: #FFC900;
    }
    
    .observation p {
        width: 90%;
        position: relative;
        left: 5%;
        text-align: center;
        vertical-align: middle;
        margin: 2%;
        font-size: 100%
    }
    
    select {
        width: 70vw;
        position: relative;
        top: 5vh;
        left: 5vw;
        font-family: "Raleway", "Times New Roman", sans-serif;
        font-size: 15px;
        border: black 1px solid;
        cursor: pointer;
    }
    
    #choice-one {
        width: 130%;
        height: 50%;
        position: relative;
        top: 76%;
        left: 19%;
        border: black 2px solid;
        border-radius: 8px;
        background-color: #B8DFD8;
    }
    
    #choice-one:hover, #choice-one-text:hover, 
    #choice-two:hover, #choice-two-text:hover {
        cursor: pointer;
    }
    
    #choice-two {
        width: 130%;
        height: 50%;
        position: relative;
        top: 80%;
        left: 19%;
        border: black 2px solid;
        border-radius: 8px;
        background-color: #ADC2A9;
    }
    
    #bartender-reply {
        width: 130%;
        height: 40%;
        position: relative;
        top: 65%;
        left: 19%;
        border: black 2px solid;
        border-radius: 8px;
        background-color: #A3A847;
    }
    
    #choice-one-text, #choice-two-text, #bartender-reply-text {
        width: 90%;
        position: relative;
        top: auto;
        font-family: "Raleway", "Times New Roman", sans-serif;
        font-size: 90%;
        font-weight: 900;
        text-align: center;
    }
}