@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Tangerine:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

#main {
    width: 70%;
    height: 400px;
    margin: 5vh 15%;
}

h1 {
    position: relative;
    text-align: center;
    font-family: Tangerine;
    font-size: 50px;
}

#blue:hover {
    color: #1C6DD0;
}

#intro-image {
    height: 400px;
    position: relative;
    top: 3vh;
    left: 28vw;
}

#main-button, #game-afoot-button, #next-button-one, #next-button-two {
    width: 20%;
    position: relative;
    top: 21%;
    left: 20%;
    text-align: center;
    font-family: Tangerine;
    color: white;
    background-color: #1C6DD0;
    font-size: 50px;
    border: #1C6DD0 2px solid;
    border-radius: 12px;
}

#game-afoot-button {
    width: 20vw;
    top: 130%;
    left: 10vw;
}

#next-button-one, #next-button-two {
    position: absolute;
    top: 110%;
    left: 40%;
}

#main-button:hover, #game-afoot-button:hover, #next-button-one:hover, #next-button-two:hover {
    color: #1C6DD0;
    background-color: white;
    border: #1C6DD0 2px solid;
    cursor: pointer;
}

.type-one-div {
    width: 40%;
    height: 400px;
    margin: 20% 15%;
    position: relative;
    top: 10%;
}

.type-two-div {
    width: 40%;
    height: 400px;
    margin: 20% 15%;
    position: relative;
    margin-left: 45%;
}

h2, p {
    position: relative;
    top: 15%;
    margin-top: 10%;
    font-family: Raleway;
    font-size: 150%;
    text-align: justify;
    line-height: 150%;
    font-style: italic;
}

h2 {
    text-align: center;
    font-size: 30px;
}

#instruction-paragraph {
    font-style: normal;
}

.image-one {
    height: 200px;
    position: relative;
    bottom: 70%;
    left: 125%;
}

.image-two {
    height: 450px;
    position: relative;
    bottom: 90%;
    right: 100%;
}

#hat {
    bottom: 110%;
}

#sherlock-sitting {
    position: relative;
    bottom: 60%;
}

#part-one-par {
    position: relative;
    top: 50%;
}

#observation-deduction-game {
    height: 100%;
    position: relative;
    top: 15%;
}

#observations {
    width: 50%;
    position: relative;
    top: 5vh;
    left: 25%;
}

.observation {
    width: 50vw;
    height: 20vh;
    border: black 1px solid;
    position: relative;
    margin-top: 5%;
    border-radius: 8px;
    background-color: #FFC900;
}

.observation p {
    text-align: center;
    vertical-align: middle;
    margin: 2% auto;
}

select {
    width: 40vw;
    position: relative;
    top: 2vh;
    left: 5vw;
    font-family: Raleway;
    font-size: 15px;
    border: black 1px solid;
    cursor: pointer;
}