@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Tangerine:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

#main {
    width: 70%;
    height: 400px;
    margin: 5vh 15%;
}

h1 {
    position: relative;
    text-align: center;
    font-family: Tangerine;
    font-size: 50px;
}

#blue:hover {
    color: #1C6DD0;
}

#intro-image {
    height: 400px;
    position: relative;
    top: 3vh;
    left: 28vw;
}

#main-button, #game-afoot-button, #next-button-one, #next-button-two, #submit, #next-button-four,
#next-button-five, #next-button-six, #next-button-seven, #next-button-eight, #next-button-nine,
#next-button-ten {
    width: 20%;
    position: absolute;
    top: 90%;
    left: 40%;
    text-align: center;
    font-family: Tangerine;
    color: white;
    background-color: #1C6DD0;
    font-size: 50px;
    border: #1C6DD0 2px solid;
    border-radius: 12px;
}

#game-afoot-button {
    width: 20vw;
    top: 170%;
    left: 10vw;
}

#next-button-one, #next-button-four {
    top: 175%;
    left: 40%;
}

#next-button-two, #next-button-seven {
    top: 195%;
}

#next-button-five {
    top: 240%;
}

#next-button-six {
    top: 140%;
}

#next-button-eight {
    top: 250%;
}

#next-button-nine {
    top: 120%;
}

#next-button-ten {
    top: 140%;
    left: 2%;
}

#pub-instructions {
    position: relative;
    right: 35%;
}

#submit {
    width: 20vw;
    margin-top: 10%;
    position: relative;
    top: 100%;
    left: 75%;
}

#main-button:hover, #game-afoot-button:hover, #next-button-one:hover, #next-button-two:hover,
#submit:hover, #next-button-four:hover, #next-button-five:hover, #next-button-six:hover,
#next-button-seven:hover, #next-button-eight:hover, #next-button-nine:hover, #next-button-ten:hover  
{
    color: #1C6DD0;
    background-color: white;
    border: #1C6DD0 2px solid;
    cursor: pointer;
}

.type-one-div {
    width: 40%;
    height: 400px;
    margin: 20% 15%;
    position: relative;
    top: 10%;
}

.type-two-div {
    width: 40%;
    height: 400px;
    margin: 20% 15%;
    position: relative;
    margin-left: 45%;
}

#part-two {
    margin-top: 30%;
}

#part-four {
    margin-top: 10%;
}

#part-six, #part-nine {
    margin-top: 40%;
}

#part-nine {
    margin-top: 50%;
}

#alpha-inn-inside {
    margin-top: 25%;
}

h2, p {
    position: relative;
    top: 15%;
    margin-top: 10%;
    font-family: Raleway;
    font-size: 150%;
    text-align: justify;
    line-height: 150%;
    font-style: italic;
}

h2 {
    text-align: center;
    font-size: 30px;
}

#instruction-paragraph {
    font-style: normal;
}

.image-one {
    height: 200px;
    position: relative;
    bottom: 70%;
    left: 125%;
}

.image-two {
    height: 450px;
    position: relative;
    bottom: 90%;
    right: 100%;
}

#hat {
    bottom: 110%;
}

#sherlock-sitting {
    position: relative;
    bottom: 60%;
}

#goose {
    height: 80%;
    position: relative;
    bottom: 90%;
    right: 70%;
}

#newspaper {
    height: 50%;
    position: relative;
    bottom: 70%;
    right: 75%;
}

#ad {
    font-family: "Century Old Style";
    font-size: 80%;
}

#man {
    height: 100%;
    position: relative;
    bottom: 100%;
    left: 125%;
}

#man-two {
    height: 90%;
    position: relative;
    right: 80%;
    bottom: 140%;
}

#door {
    position: relative;
    height: 90%;
    bottom: 75%;
}

#bartender {
    width: 120%;
    position: relative;
    top: 10%;
    right: 50%;
}

#bartender:hover {
    cursor: pointer;
}

#part-one-par {
    position: relative;
    top: 50%;
}

#observation-deduction-game {
    height: 100%;
    position: relative;
    top: 15%;
}

#observations {
    width: 50%;
    position: relative;
    top: 20vh;
    left: 25%;
}

.observation {
    width: 50vw;
    height: 20vh;
    border: black 1px solid;
    position: relative;
    margin-top: 5%;
    border-radius: 8px;
    background-color: #FFC900;
}

.observation p {
    text-align: center;
    vertical-align: middle;
    margin: 2% auto;
}

select {
    width: 40vw;
    position: relative;
    top: 2vh;
    left: 5vw;
    font-family: Raleway;
    font-size: 15px;
    border: black 1px solid;
    cursor: pointer;
}

#choice-one {
    width: 45%;
    height: 40%;
    position: relative;
    bottom: 80%;
    right: 40%;
    border: black 2px solid;
    border-radius: 8px;
    background-color: #B8DFD8;
}

#choice-one:hover, #choice-one-text:hover, 
#choice-two:hover, #choice-two-text:hover {
    cursor: pointer;
}

#choice-two {
    width: 45%;
    height: 40%;
    position: relative;
    bottom: 121%;
    left: 14%;
    border: black 2px solid;
    border-radius: 8px;
    background-color: #ADC2A9;
}

#bartender-reply {
    width: 40%;
    height: 35%;
    position: relative;
    bottom: 100%;
    right: 40%;
    border: black 2px solid;
    border-radius: 8px;
    background-color: #A3A847;
}

#choice-one-text, #choice-two-text, #bartender-reply-text {
    padding: 1px;
    padding-top: 0;
    font-family: "Raleway", "Times New Roman", sans-serif;
    font-size: 100%;
    font-weight: 900;
    text-align: center;
}